* {
  margin: 0px;
  padding: 0px;
  font-family:"Tahoma";
  font-size:11pt;
}

a {
	text-decoration:none;
}
img {
	border:none;
}
.cls {
	clear:both;
	height:0px;
}


.grid0 {
	width: 1000px;
	margin: 0px auto;
}